__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.tmp
*.swp
.git/
.gitignore
.vscode/
.idea/
.env
venv/
.venv/
node_modules/
media/
staticfiles/
ml_models/notebooks/
ml_models/datasets/
ml_models/reports/
